<article id="<%= post.layout %>-<%= post.slug %>" class="article" itemscope itemprop="blogPost">
  <header class="article__header">
    <%- partial('post/title', {class_name: 'article-title'}) %>
    <div class="article__meta">
      <%- partial('post/date') %>
      <%- partial('post/author') %>
    </div>
  </header>

  <div class="article__body">
    <div class="article__content">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>

  </div>

  <footer class="article__footer">
    <% if (post.excerpt && index){ %>
      <div class="article__more"><a class="btn btn--default" href="<%- url_for(post.path) %>#more">Читать дальше</a></div>
    <% } %>

    <%- partial('post/tag') %>
  </footer>
  </div>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
